
/* where Gemma's code starts */

/* where Gemma's responsive code starts*/
@media (max-width: 980px) {
  body {
  	width: 90%;
  }
  header {
    width: 90%;
  }
  aside {
    width: 70%;
  }
  .container {
    width: 70%;
  }

@media (max-width: 700px) {
  body {
  	width: 70%;
  }
  header {
    width: 70%;
  }
  aside {
    width: 50%;
  }
  .container {
    width: 60%;
  }

@media (max-width: 480px) {
  body {
  	width: 20%;
  }
  header {
    width: 20%;
  }
  aside {
    width: 100%;
  }
  .container {
    width: 20%;
  }
  h1 { 
    font-size: .5em;
  }


/* where Gemma's resposnive code ends! */

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('League_Gothic-webfont.eot');
    src: url('League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('League_Gothic-webfont.woff') format('woff'),
         url('League_Gothic-webfont.ttf') format('truetype'),
         url('League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

ul {list-style: none;
	font-family: "Helvetica", Verdana, sans-serif;
}

li {font-family: "Helvetica", Verdana, sans-serif;
	font-weight: bold;
	font-size: 12px; 
}

div .header {width: 800px;
	border-bottom: 1px solid black;
	position: absolute;
}

.content {
	margin-top: 20px;

}

.container { width: 850px;
	float: right;
	padding-left: 20px;
}

nav .nav-head {
	float: right;
	text-align: left;
	font-family: "Helvetica", Verdana, Sans-serif;
	font-weight: bold;
}

.nav-head ul li a{
	list-style: none;
	text-decoration: none;
}

.nav-head ul li {display: inline;
	margin-right: 10px;
	margin-bottom: 30px;
	margin-top: 40px;
	float: right;
}

aside {float: left;
	padding-top: 14px;
	width: 250px;
	position: absolute;
	font-family: "Helvetica", Verdana, sans-serif;
	font-weight: bold;
	font-size: 12px; 
}

aside li { margin-bottom: 20px;}

aside ul li a{text-align: left;
	list-style-type: none;
	text-decoration: none;

}

section {
	width: 644px;
	float: right;
	margin-bottom: 30px;
}

footer {
	font-weight: bold;
	clear: both;
	border-top: solid #7f7f7f 2px;
}

footer .site-footer {
	float: right;
}

footer p {
	margin-top: 5px;
}

h1 {margin-top: 0px;
	margin-left: 10px;
	float: left;
	font-family: "LeagueGothicRegular", Sans-serif;
	text-transform: uppercase;
	font-size: 60px;}

h2 {color:black;
	font-size: 20px;
	font-family: "LeagueGothicRegular", Sans-serif;
	text-transform: uppercase;
	margin-top: 10px;
}

h4 {color:black;
	font-size: 10px;
	font-family: "Helvetica", Verdana, sans-serif;
}

p {color:black;
	font-family: "Helvetica", Verdana, sans-serif;
	font-size: 12px;
}


/* Bonnie's code */

body {
	background-color: #ffffff;
	width: 950px;
	margin-left: 30px;
	font-family: helvetica, Sans-serif;
}

p {
	font-size: 12pt;
	clear: both;
	line-height: 120%;
}

ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	font-weight: bold;
	float: left;
	clear: both;
}

a {
	text-decoration: none;
	color: #000000;
}

h1 {
	margin-top: 20px;
	float: left;
	font-family: "LeagueGothicRegular", sans-serif;
	font-size: 48px;
}

h2 {
	font-size: 20pt;
	float: left;
	font-weight: bold;
	clear: both;
}

h4 {
	font-size: 10pt;
	float: left;
	font-weight: bold;
	clear: both;
}

header {
	font-weight: bold;
	height: 85px;
	border-bottom: solid #7f7f7f 2px;
	width: 100%;
}

header h1 {
	float: left;
}

header ul li {
	float: right;
	margin: 35px 10px 0px 10px;
}

nav {
	float: right;
}

aside {
	width: 175px;
	float: left;
	position: absolute
}

aside li {
	margin-bottom: 20px;
}

section {
	width: 645px;
	float: right;
}

section {
	width: 645px;
	float: right;
	margin-bottom: 30px;
}

section h2 {
	margin-top: 0px;
}

section h4 {
	margin-bottom: 0px;
}

footer {
	font-weight: bold;
	clear: both;
	border-top: solid #7f7f7f 2px;
}

footer p {
	margin-top: 5px;
}





