
/* where Gemma's code starts */

img{}

.nav-img { background-image: "images/blog-logo.png"}

.nav-head {text-align: left;
	font-family:"Helvetica", Arial, sans-serif;

}

.nav-head ul li a{
	list-style-type: none;
	text-decoration: none;

}

.sidebar ul li a{text-align: left;
	padding: 10px;
	list-style-type: none;
	text-decoration: none;
}

.content {padding: 50px;}

.blog-post {}

.post-footer {}

.blogtitle {}

.site-footer

section { color:black;	
}


h1 {}

h2 {color:black;
	font-size: 20px;
	font-family: "Bebas", Arial, Sans-serif;;
}

h4 {color:black;
	font-size: 12px;
	font-family: "Helvetica", Arial, sans-serif;
}

p {color:black;
	font-family: "Helvetica", arial, sans-serif;
}













